.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.badge {
  border: 1px solid gainsboro;
  /* Set border color and thickness */
  padding: 5px !important;
  /* Set padding */
  font-weight: bold !important;
  color: darkblue !important;
  margin: 5px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: darkblue;
  padding: 10px 0;
  border-top: 1px solid gainsboro;
  font-size: small !important;
}

.buttonrequest, .buttonrequest:hover {
  align-items: center;
  color: darkblue !important;
  background-color: #00D7B8 !important;
  font-size: small !important;
}


.footer .left-button {
  margin-left: 15px; /* Margin for the left button */
  margin-bottom: 5px;
  font-size: small !important;
}
.footer .right-buttons {
  margin-right: 15px; /* Margin for the right buttons */
  margin-bottom: 5px;
  font-size: small !important;
}




.bd-placeholder-img {
  background: url('capture_decran_20240313_a_16271.jpeg') 50% / cover no-repeat; 
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:darkblue;
}

.content {
  color:darkblue;
  padding: 10px;
  font-size: small;
}

.btn-breadcrumb {
  background-color: gainsboro !important;
  font-size: 5px;
  color: darkblue !important;
}

.btn-custom {
  color: darkblue !important;
  font-size: small;
}

.btn-breadcrumb .selectbreadcrumb {
  font-weight: bold;
  background-color: #00D7B8 !important;
}

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid gainsboro;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid gainsboro;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding: 3px 9px 6px 12px;
}

.btn-breadcrumb .btn:first-child {
  padding: 3px 3px 3px 5px;
}

.btn-breadcrumb .btn:last-child {
  padding: 3px 9px 3px 12px;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid gainsboro;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid gainsboro;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #ebebeb;
}

.btn-breadcrumb .btn.btn-default.selectbreadcrumb:not(:last-child):after {
  border-left: 10px solid #00D7B8;
}

.btn-breadcrumb .selectbreadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #00D7B8 ;
}

.btn-breadcrumb .selectbreadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #00D7B8 ;
}

.btn-breadcrumb .selectbreadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid aquamarine;
}



.custom-jumbotron {
    min-height: 360px; /* Adjust height as needed */
    padding: 2rem 1rem; /* Adjust padding as needed */
}


.bottom-row {
flex-shrink: 0; /* Ensure the bottom row doesn't shrink */
}